.idea/
target/
*.iml

# test
*/test/*


# Eclipse
.classpath
.project
.settings/

# Intellij
**/.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
**/log/
**/target/

# out
**/out/
**/target/
/canal-learning/canal-learning.iml
Flink-Demo/src/main/resources/
Flink-Demo/src/test/java/
canal-learning/src/
